.catalog .prod{
    border:4px solid white;
    border-radius: 5%;
    width: 100rem;
    margin-left:auto;
    margin-right:auto;
    background-color: aquamarine;
}
.catalog .product{
    display: inline-block;
    background-color: rgb(255, 183, 175);
    margin:2rem;
}
.catalog .header{
    text-align: center;
    font-size: 4rem;
    background-color: rgb(255, 183, 175) !important;
    font-family: cursive;
    margin: 2rem;
    padding-bottom:1rem;
    
    
    
   
 }


 .catalog .prod-counter{
     text-align: center;
     margin-bottom:1rem;
 }
 .catalog h4{
     border-radius: 5%;
     display: inline;
     background-color: whitesmoke;
   
     text-align: center;
     color: rgba(0, 0, 255, 0.5) !important;
 }
